:root {
    --dark_green: #4C8A7B;
    --light_green: #B1D8C3;
    --muddy_green: #99A72C;
    --orange: #F4AE2C;
    --red-orange: #F36C59;
    --light-grey: #C5C6C8;
    --dark-grey: #AAB1B4;
    --desaturate-50: grayscale(50%);
    --blur-1: blur(1px);
    --sepia-50: sepia(50%);
    --playfair-font: 'Playfair Display', serif;
    --josefin-font: 'Josefin Sans', sans-serif;
    --reset-top-padding: 0.8rem 1.5rem;
}

.reset-top {
    padding: var(--reset-top-padding);
}

.bg-red-orange {
    background: var(--red-orange);
}

.bg-light-green {
    background: var(--light_green);
}

.bg-dark_green {
    background: var(--dark_green);
}

.bg-orange {
    background: var(--orange);
}

.bg-light_grey {
    background: var(--light-grey);
}

.bg-dark_grey {
    background: var(--dark-grey);
}

.txt-white-smoke {
    color: whitesmoke;
}

.bg-white-smoke {
    background: whitesmoke;
}

.image img {
    max-width:100%;
}

.image .reset-originalsize  {
     width:initial;
}

.header_font {
   font-family: var(--playfair-font);
}

.body_font {
    font-family: var(--josefin-font);
}

.size_12 {
    font-size: 1.2rem;
}

.size_14 {
    font-size: 1.4rem;
}

.capitalize {
    text-transform: uppercase;
}

.bold {
    font-weight:bold;
}

.reduce-contrast {
    filter: var(--sepia-50) var(--blur-1) var(--desaturate-50);
}

